<footer>
    <div id="footer" class="footer-copyright text-center py-3" style="background-color: aquamarine; color: black;
    line-height: 12px; ">
        <span style="text-align: center; margin: 0;">
            <p>Keysight Sdn Bhd</p>
        </span>
        <span style="position: absolute; right: 10px;">Keysight Version 10</span>
    </div>
</footer>