
<style>

</style>

<body>
  <!-- <app-header></app-header> -->
    <div style="height: calc(100%-40px); overflow-y: auto;" ></div>
    <div style="height: 100%;" >
      <div class="resize" style="height: 100%;">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>  
</body>


